
<h2>Who am I?</h2>
<div class="row">

<div class="col-xs-3">
<%= image_tag("d.jpg", :alt => "dream car",:width =>280,:height =>405,:class => "img-rounded") %>
</div>
<div class="col-xs-6">
<p1>
I am Bafana 25 years of age the only child for the late Sannah Motloung, most of all i am christian i fear God, i love people i respect people, i am not married but in a relationship, i like chess but love soccer,
i love kids but don't have any, i am talkative, positive minded, adores challenges, and overall im just down to earth kinda guy simple as that but i dont tolerate insanity.
<br>
I grew up in many places but i remember evaton because i spent most of my time there with mom and i started schooling there at Mofolo primary school then moved to free state went to a secondary there Nomsa ss where i finished my matric in 2009. I furthered my studies at Jeppe college where i finished my IT diploma in 2012, after graduations searched for internships or learnerships with no luck i decided to look for any general work i could find.
<br>
Fortunate enough i got a job at fairprice furniture store worked there for two years then left to work for 
a finance company Atlas finance worked there for a year then i left after getting a software development 
internship at sable assets, now my departure was for going for something i've always wanted to do which is programming so far so good. I am hoping working at sable i will get exposure and experience enough to get 
me to a level were i feel that i have achieved my first goal of being a junior software engineer.
<br>
Well i see myself as young man who is goal oriented and always strives for improvement in everything I do. I am innovative and love setting high standards, i am that kind guy who is self-motivated has excellent interpersonal skills,Whom is highly committed and ready for a challenge Friendliness is my strongest point, which makes me passionate about people in a sense that i adapt to anyone even situations in general.


</p1>

</div>

</div>
