<h2>Academic History</h2>



<div class="bs-example">
    <div class="container">
        <div class="row">
            <div class="col-xs-5">
                <a href="/about_me" class="thumbnail">
                    <img src="../images/c.jpg" alt="125x125">
                </a>
            </div>
            <div class="col-xs-5">
                <a href="" class="thumbnail">
                    <img src="../images/e.jpg" alt="125x125">
                </a>
            </div>
            <div class="col-xs-5">
                <a href="#" class="thumbnail">
                    <img src="../images/e.jpg" alt="125x125">
                </a>
            </div>
            <div class="col-xs-5">
                <a href="#" class="thumbnail">
                    <img src="../images/a.jpg" alt="125x125">
                </a>
            </div>
        </div>
    </div>
</div>