<h2>Contacts</h2>
<div class="col-xs-19">
<h4>Current address is Diepsloot ext 4 </h4>
</div>
<div>
<ul>
               <h5>Home Address</h5>
               <span class="glyphicon glyphicon-home" aria-hidden="true">            
              1723 Tshepiso Section</span><br>
              <span class="glyphicon glyphicon-home" aria-hidden="true">            
              Refengkgotso</span><br>
              <span class="glyphicon glyphicon-home" aria-hidden="true">            
              Deneysville</span><br>
              <span class="glyphicon glyphicon-home" aria-hidden="true">            
              1932</span><br>
              <span class="glyphicon glyphicon-earphone" aria-hidden="true"> 0710 891 056</span>
              <br>
              <span class="glyphicon glyphicon-envelope" aria-hidden="true">
              </span><a href="mailto:bafana22@gmail.com">&nbsp;&nbsp;&nbsp;email me bafana22@gmail.com</a><br>
              <span class="glyphicon glyphicon-globe" aria-hidden="true">
                     <a href="http://meshack26.herokuapp.com/">meshack26.herokuapp.com</a>
                  </span><br><br>

                  <div class="col-xs-4">
                  <%= image_tag("wa.png", :alt => "whatsapp",:width =>40,:height =>40) %>
                  Whatsapp Me 0710891056
                  </div>

            </ul>
        </div>

        