<h1>Pages#contacts</h1>
<p>Find me in app/views/pages/contacts.html.erb</p>
<FORM>
<INPUT TYPE="button" VALUE="Click Here to Write to Me"
onClick="parent.location='mailto:bafana22@gmail.com'">
</FORM>
<div>
<ul>
              <li>
                  <span class="glyphicon glyphicon-map-marker" aria-hidden="true">
                     <a href="http://assets.sable.co.za/">SABLE® Assets (Pty) Limited</a>
                  </span>
               </li>             
              <li class="adrs">R8, Riversands Incubation Hub</li>
              <li><span class="adrs" aria-hidden="true">12-8 Incubation Drive</span></li>
              <li><span class="adrs" aria-hidden="true">Riverside View Ext 15</span></li>
              <li><span class="adrs" aria-hidden="true">Fourways</span></li>
              <li><span class="adrs" aria-hidden="true">Johannesburg Gauteng</span></li>
              <li><span class="adrs" aria-hidden="true">South Africa</span></li>
              <li><span class="glyphicon glyphicon-earphone" aria-hidden="true">Cell:+27 83 767 4239</span></li>
              <li><span class="glyphicon glyphicon-envelope" aria-hidden="true">
              </span><a href="mailto:example@mail.com">www.sable.com</a></li>
            </ul>
        </div>