<h1>Pages#contacts</h1>
<p>Find me in app/views/pages/contacts.html.erb</p>
<FORM>
<INPUT TYPE="button" VALUE="Click Here to Write to Me"
onClick="parent.location='mailto:bafana22@gmail.com'">
</FORM>