<h2>My Family</h2>

<div class="row slideanim">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/1.jpg" alt="bafana">
      <div class="caption">
        <h3>Pheello Motloung</h3>
        <p>Father of two girls and me Bafana,<br>
           Married and working  </p>
        <p><a href="/images/1.jpg" class="btn btn-primary" role="button">Full picture</a> </p>
      </div>
    </div>
  </div>


<div class="row slideanim">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/q.jpg" alt="bafana">
      <div class="caption">
        <h3>Bohlokwa Motloung</h3>
        <p>Last born,the one who does'nt listen...lol<br>
            </p>
        <p><a href="/images/q.jpg" class="btn btn-primary" role="button">Full picture</a> </p>
      </div>
    </div>
  </div>

</div>
<div class="row slideanim">
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="/images/0.jpg" alt="bafana">
      <div class="caption">
        <h3>Elizabeth Motloung</h3>
        <p>Our Mother the pillar of my little family,<br>
           She makes sure we don't sleep hungry   </p>
        <p><a href="/images/0.jpg" class="btn btn-primary" role="button">Full picture</a> </p>
      </div>
    </div>
  </div>


<div class="row slideanim">
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="/images/2.jpg" alt="bafana">
      <div class="caption">
        <h3>Rethabile Motloung</h3>
        <p>My little sister the clever one,<br>
           smart and intelligent </p>
        <p><a href="/images/2.jpg" class="btn btn-primary" role="button">Full picture</a> </p>
      </div>
    </div>
  </div>
</div>
</div>