<h2>Friends and Family Gallery</h2>

 <div class="bs-example">
    <div class="container">
        <div class="row">
            
            <div class="col-xs-4">
                <a href="/images/11.jpg" class="thumbnail">
                    <img src="../images/11.jpg" alt="125x125">
                </a>
            </div>

            <div class="col-xs-4">
                <a href="/images/f.png" class="thumbnail">
                    <img src="../images/f.png" alt="125x125">
                </a>
            </div>

            <div class="col-xs-4">
                <a href="/images/f.jpg" class="thumbnail">
                    <img src="../images/f.jpg" alt="125x125">
                </a>
            </div>

            <div class="col-xs-4">
                <a href="/images/f1.png" class="thumbnail">
                    <img src="../images/f1.png" alt="125x125">
                </a>
            </div>

            <div class="col-xs-4">
                <a href="/images/f2.png" class="thumbnail">
                    <img src="../images/f2.png" alt="125x125">
                </a>
            </div>

            <div class="col-xs-3">
                <a href="/images/f3.JPG" class="thumbnail">
                    <img src="../images/f3.JPG" alt="125x125">
                </a>
            </div>

            <div class="col-xs-3">
                <a href="/images/11.jpg" class="thumbnail">
                    <img src="../images/11.jpg" alt="125x125">
                </a>
            </div>

            <div class="col-xs-4">
                <a href="/images/f4.jpg" class="thumbnail">
                    <img src="../images/f4.jpg" alt="125x125">
                </a>
            </div>

            <div class="col-xs-3">
                <a href="/images/f5.jpg" class="thumbnail">
                    <img src="../images/f5.jpg" alt="125x125">
                </a>
            </div>

            <div class="col-xs-3">
                <a href="/images/f6.jpg" class="thumbnail">
                    <img src="../images/f6.jpg" alt="125x125">
                </a>
            </div>

            <div class="col-xs-3">
                <a href="/images/f7.jpg" class="thumbnail">
                    <img src="../images/f7.jpg" alt="125x125">
                </a>
            </div>

            <div class="col-xs-3">
                <a href="/images/f8.jpg" class="thumbnail">
                    <img src="../images/f8.jpg" alt="125x125">
                </a>
            </div>

            <div class="col-xs-3">
                <a href="/images/f9.jpg" class="thumbnail">
                    <img src="../images/f9.jpg" alt="125x125">
                </a>
            </div>

            <div class="col-xs-3">
                <a href="/images/f10.jpg" class="thumbnail">
                    <img src="../images/f10.jpg" alt="125x125">
                </a>
            </div>

            <div class="col-xs-3">
                <a href="/images/f11.jpg" class="thumbnail">
                    <img src="../images/f11.jpg" alt="125x125">
                </a>
            </div>

            <div class="col-xs-3">
                <a href="/images/f12.jpg" class="thumbnail">
                    <img src="../images/f12.jpg" alt="125x125">
                </a>
            </div>

            <div class="col-xs-3">
                <a href="/images/f13.jpg" class="thumbnail">
                    <img src="../images/f13.jpg" alt="125x125">
                </a>
            </div>

            <div class="col-xs-3">
                <a href="/images/f14.jpg" class="thumbnail">
                    <img src="../images/f14.jpg" alt="125x125">
                </a>
            </div>

            <div class="col-xs-3">
                <a href="/images/f16.jpg" class="thumbnail">
                    <img src="../images/f16.jpg" alt="125x125">
                </a>
            </div>
            
             <div class="col-xs-3">
                <a href="/images/f17.jpg" class="thumbnail">
                    <img src="../images/f17.jpg" alt="125x125">
                </a>
            </div>

             <div class="col-xs-3">
                <a href="/images/f18.jpg" class="thumbnail">
                    <img src="../images/f18.jpg" alt="125x125">
                </a>
            </div>

             <div class="col-xs-3">
                <a href="/images/f19.jpg" class="thumbnail">
                    <img src="../images/f19.jpg" alt="125x125">
                </a>
            </div>

             <div class="col-xs-3">
                <a href="/images/f20.jpg" class="thumbnail">
                    <img src="../images/f20.jpg" alt="125x125">
                </a>
            </div>

             <div class="col-xs-3">
                <a href="/images/f21.png" class="thumbnail">
                    <img src="../images/f21.png" alt="125x125">
                </a>
            </div>

             <div class="col-xs-3">
                <a href="/images/f22.jpg" class="thumbnail">
                    <img src="../images/f22.jpg" alt="125x125">
                </a>
            </div>

             <div class="col-xs-3">
                <a href="/images/f23.jpg" class="thumbnail">
                    <img src="../images/f23.jpg" alt="125x125">
                </a>
            </div>

             <div class="col-xs-3">
                <a href="/images/f24.JPG" class="thumbnail">
                    <img src="../images/f24.JPG" alt="125x125">
                </a>
            </div>

             <div class="col-xs-3">
                <a href="/images/f25.jpg" class="thumbnail">
                    <img src="../images/f25.jpg" alt="125x125">
                </a>
            </div>

             <div class="col-xs-3">
                <a href="/images/f26.jpg" class="thumbnail">
                    <img src="../images/f26.jpg" alt="125x125">
                </a>
            </div>

             <div class="col-xs-3">
                <a href="/images/f27.JPG" class="thumbnail">
                    <img src="../images/f27.JPG" alt="125x125">
                </a>
            </div>

             <div class="col-xs-3">
                <a href="/images/f28.jpg" class="thumbnail">
                    <img src="../images/f28.jpg" alt="125x125">
                </a>
            </div>






        </div>
    </div>
</div>


